#teamMembers ul{
  list-style: none;
}
#teamMembers{
  justify-content: center;
}
#wrapper{
  background-image: url('');
    background-repeat: repeat;
    background-size: 100%, 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: 0;
}
#headerLine{
  background: darkgray;
  padding: auto;
  margin:auto

}


  #hero-section{
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
     url('../assets/Img/pexels-snapwire-6966.jpg');
  background-size: cover;
  background-size: 100%, 100%;
  display: flex;
  align-items: center;
  background-position: bottom;
 

}


body {
  padding-top: 330px;
  margin:10%;
  font-family: 'Cinzel', serif;
  
 
}
.top{
  display: flex;
  margin-bottom: 30%;
}

.menu input{
max-width: 120%;
margin-left: -190%;
margin-top: -5.8%;
display:flex;
width:120%;
}
.button{
background-color: transparent;
margin-right:10%;

}


.BTN2{
  display: flex;
  max-width:68%;
  margin-top: -15.5%;
  background-color: transparent;
 
  
 
}
.BTN1{
  display: flex;
  max-width: 40%;
  margin-left: -50%;
  margin-top: -15%;
  
}
.save{
  margin-right: 50%;
}
#stickyNav{
  margin-left: -70%;
  display: flex;
  border-radius: 2px;
  transition: all 0.3s ease;
  z-index: 2;
  
}
h1, h2, h3{
  color:black;
}
#headerline{
  background-color:rgb(44, 43, 43) ;
  -moz-box-shadow: 0 0 3px rgb(41, 40, 40);
-webkit-box-shadow: 0 0 3px rgb(41, 40, 40);
box-shadow: 0 0 3px rgb(41, 40, 40);
}
#stickyNav :hover{
  box-shadow: 0 0 0 1px #fefefe;
  z-index: 2;
}
.sticky-shrinknav-menu {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  height: 3rem;
  line-height: 3.75rem;
  width: 100%;
 
  transition: all 1s ease;
 
}

 .sticky-shrinknav-menu li {
  display: flex;
  border-radius: 2px;
  transition: all 0.3s ease;
  z-index: 2;

}

.sticky-shrinknav-menu li:hover {
  box-shadow: 0 0 0 1px #fefefe;
  z-index: 2;
}

.sticky-shrinknav-menu a {
  color: #fefefe;
  z-index: 2;
}

.sticky-shrinknav-header-title {
  transition: all 0.3s ease;
  position: relative;
  -webkit-transform: translateY(-1.875rem);
  -ms-transform: translateY(-1.875rem);
  transform: translateY(-1.875rem);
  margin-bottom: 0;
  color: rgb(253, 253, 253);
  text-shadow: 4px 4px 8px #000000;
  font-family: 'Cinzel', serif;
  padding:20%;
  border-radius: 50%;
 
}

.sticky-shrinknav-header {
  width: 100%;
  height: 400px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  background: rgba(23, 121, 186, 0.9);
  z-index: 2;
}
h2{
text-align: center;
font-family: 'Cinzel', serif;
}
.callout{
/* background-color: transparent; */
padding-top:10%;
padding-bottom: 10%;
z-index: 1;
-moz-box-shadow: 0 0 10px #ccc;
-webkit-box-shadow: 0 0 10px #ccc;
box-shadow: 0 0 10px #ccc;
border-radius: 10%;

}

body.sticky-shrinknav-wrapper {
  transition: all 1 ease;
  
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header {
  height: 3.00rem;
  background-color: rgba(23, 121, 186, 0.9);
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header .sticky-shrinknav-header-title {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transition: all 0.3s ease;
}



#instructions {
  background-color: white;
  font-size:x-large;
  color: black;
  font-weight: bold;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: all 1 ease;
  border-width:5px;
  border-color: black;
  border-radius: 10%;
  padding:25px;
-moz-box-shadow: 0 0 10px #ccc;
-webkit-box-shadow: 0 0 10px #ccc;
box-shadow: 0 0 10px #ccc;

  
}
audio{
  margin-top: 2%;
  margin-bottom:10%;
}
#lyricsCard{
  flex-wrap: wrap;
  text-align: center;
  
  
}


.mobile-bottom-bar {
  width: 100%;
  height: 3.778rem;
  background: darkgray;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mobile-bottom-bar .footer-link {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  color: #0c3e5f;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: bold;
  padding: 0.907rem 1rem;
}

.mobile-bottom-bar .footer-link i.fa {
  opacity: 0.8;
  margin-right: 0.625rem;
  font-size: 1.5rem;
  vertical-align: middle;
}

.mobile-bottom-bar .footer-link:focus, .mobile-bottom-bar .footer-link:active {
  color: #0c3e5f;
}

.mobile-bottom-bar .footer-text {
  position: relative;
  top: 2px;
  font-weight: bold;
  font-size: 0.875rem;
  color: #0c3e5f;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.list-group {
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
}

.list-group> :last-child {
  margin-bottom: 0;
}

.list-group-item {
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}

.list-group-item> :last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.list-group-item.active {
  color: #fefefe;
  background-color: #1779ba;
  border-color: 1px solid #1779ba;
}

.list-group-item:hover, .list-group-item:focus {
  background-color: #e6e6e6;
}

.list-group-item:hover.active, .list-group-item:focus.active {
  background-color: #1779ba;
}

.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus {
  color: #8a8a8a;
  cursor: not-allowed;
  background-color: #fefefe;
}